{% extends "base.html" %}

{% block start %}

<!-- Page Banner -->
<section class="page-banner" style="background-image: url(/media/images/background/14.jpg)">
	<div class="auto-container">
		<ul class="page-breadbrumbs">
			<li><a href="#">Home</a></li>
			<li>about us</li>
		</ul>
		<h1 class="page-banner_title">ABOUT US</h1>
	</div>
</section>
<!-- End Page Banner -->

<!-- About Two -->
<section class="about-two">
	<div class="auto-container">
		<div class="about-two_icon flaticon-black-airplane"></div>
		<br>
		<h3>Welcome to Salt&Sea Adventures, where every journey is a bespoke adventure.</h3>
		<div class="about-two_text">
			<h4>The Journey of Salt&Sea Adventures:</h4>
			<h3>Where It All Began</h3>
			<p>Salt&Sea Adventures was born from the passion for the thrill of expedition and
				exploration ardently shared by lifelong friends and adventure enthusiasts,
				Sudhir,Yash and Tanvi. Founded in 2019, a simple purpose laid our company’s
				foundation; to offer unforgettable tour experiences that connect people with the
				beauty and wonder of travel. Owing to our commitment to personalised service and
				unique itineraries, we quickly grew from our humble beginnings of organising local
				yet unique escapades, into a widely trusted and recognised travel company
				worldwide, earning exceptional reviews from numerous satisfied adventurers. Our
				story is one of passion, growth, and an unwavering dedication to share the mystique
				joy of travel with the world and we’re excited to continue exploring new horizons with
				you.</p>
			<h3>Meet the Adventurers Behind the Scenes</h3>
			<p>*Founders note could be added and Pictures of Founders*</p>
			<h3>What We Offer</h3>
			<blockquote>SAIL with Salt&Sea Adventures</blockquote>
			<h4>S - Seamless Experiences</h4>
			<p>Known for organising smooth journeys, we take care of all the details, from itinerary
				creation to booking, ensuring a hassle-free travel experience. Our travellers are
				provided with every comfort including our team of travel experts and local guides as
				well as meticulously tailored services like transportation, accommodations and other
				activities.</p>
			<h4>A - Authentic Adventures</h4>
			<p>We offer personalised experiences to our Travellers ranging from engaging with local
				communities and experiencing their traditions, cuisine and daily life, to exploring off-
				the-beaten-path destinations and hidden gems or even participating in interactive
				experiences such as guided hikes, city sightseeing and marine excursions.</p>
			<h4>I - Inspiring Destinations</h4>
			<p>We offer a diverse array of destinations like breathtaking coastal vistas and pristine
				beaches, vibrant culture of bustling cities and tranquil beauty of historic towns or thrill
				of untamed wilderness. What sets us apart is our personalised and sustainable travel
				options that fit every traveller’s wishlist while respecting and protecting the
				environment.</p>
			<h4>L - Lifelong Memories</h4>
			<p>We help Create lasting memories with extraordinary adventures that stay with you
				forever and capture special moments that make your journey truly remarkable and
				worth cherishing.</p>
			<h3>Values</h3>
			<h3>Our Guiding Compass</h3>
			<ul>
				<li>Customer-Centric Approach We treat every customer like royalty, ensuring
					their needs and preferences are our top priority and tailor each travel
					experience to the unique desires and interests of our clients.</li>
				<li>Transparent Practices & Quality Outcomes Our team operates with
					honesty and integrity, with clear communication and ethical business
					practices leading to excellence in every aspect of our services, from
					meticulously planned itineraries to exceptional customer care.</li>
				<li>Sustainability We believe in eco-conscious and responsible tourism and
					actively support and engage in conservation projects to protect the natural
					beauty of our destinations..</li>
			</ul>
			<h3>Our Voyage and Vision</h3>
			<p>We at Salt&Sea Adventures, aim to inspire wanderlust and foster deep connections
				through unforgettable journeys. At our heart is the passion for travel and adventure
				which we aspire to fulfil for each of our clients.</p>
			<h3>Charting New Waters Ahead</h3>
			<p>The future holds exciting prospects for Salt&Sea Adventures!! We plan to expand
				our services and make them accessible to an even wider audience by introducing
				more wallet-friendly deals while maintaining the top-notch quality of our services. Our
				team is dedicated to continuously innovating, and introducing cutting-edge
				technologies and sustainable practices to enhance our travel experiences.</p>
		</div>
	</div>
</section>
<!-- End About Two -->

<!-- Feature One -->
<section class="feature-one style-three">
	<div class="auto-container">
		<div class="inner-container">
			<div class="row clearfix">

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner">
						<div class="feature-block_one-icon flaticon-smile-1"></div>
						<h5 class="feature-block_one-title">Customer Delight</h5>
						<div class="feature-block_one-text">We deliver the best service and experience for our customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner">
						<div class="feature-block_one-icon flaticon-mountain"></div>
						<h5 class="feature-block_one-title">Authentic Adventure</h5>
						<div class="feature-block_one-text">We deliver the real adventure experience for our dear customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner">
						<div class="feature-block_one-icon flaticon-flags"></div>
						<h5 class="feature-block_one-title">Expert Guides</h5>
						<div class="feature-block_one-text">We deliver only expert tour guides for our dear customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner">
						<div class="feature-block_one-icon flaticon-clock"></div>
						<h5 class="feature-block_one-title">Time Flexibility</h5>
						<div class="feature-block_one-text">We welcome time flexibility of traveling for our dear customer.</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Feature One -->

{% endblock %}