<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<link rel="shortcut icon" href="/media/images/favicon.png" type="image/x-icon">
		<link rel="icon" href="/media/images/favicon.png" type="image/x-icon">

		<title>{{page}}</title>

		<!-- Stylesheet  -->
		<link href="/media/css/style.css" rel="stylesheet">
		<link href="/media/css/calling.css" rel="stylesheet">
		<link rel="stylesheet" media="all" type="text/css" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700;800&amp;family=Poppins:wght@400;500;600;700&amp;display=swap">

	    <!--Main Menu File-->
	    <link id="effect" rel="stylesheet" type="text/css" media="all" href="/media/mega-menu/dropdown-effects/fade-down.css" />
	    <link rel="stylesheet" type="text/css" media="all" href="/media/mega-menu/webslidemenu.css" />
	</head>

<body>

<div class="page-wrapper">

	  <!-- Mobile Header -->
	  <div class="wsmobileheader clearfix">
		<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
		<span class="smllogo"><img src="/media/images/logo.png" width="80%" alt="logo" /></span>
	  </div>
	  <!-- Mobile Header -->

	<div class="hotline-phone-ring-wrap">
		<div class="hotline-phone-ring">
			<div class="hotline-phone-ring-circle"></div>
				<div class="hotline-phone-ring-circle-fill"></div>
				<div class="hotline-phone-ring-img-circle">
					<a href="tel:917905335046" class="pps-btn-img">
					<img src="/media/images/icon.png" alt="Hotline" width="50">
					</a>
				</div>
			</div>
		</div>
	</div>

 	<!-- Main Header -->
	<header class="header header_style_one">
		<div class="headerfull">
				<div class="wsmain clearfix">
					<div class="logo">
						<a href="/"><img src="/media/images/logo.png" width="38%" alt="logo"></a>
						<!--<a href="/" class="logo_sticky"><img src="/media/images/logo.jpeg" width="40%" alt="logo"></a>-->
					</div>
				  <nav class="wsmenu clearfix">
					<ul class="wsmenu-list">
						<li aria-haspopup="true"><a href="/contact/" class="navtext"><span>Contact</span></a></li>
						<li aria-haspopup="true"><a href="/blog/" class="navtext"><span>Blog</span></a></li>
						<li aria-haspopup="true"><a href="/gallery/" class="navtext"><span>Gallery</span></a></li>
					  	<li aria-haspopup="true"><a href="#" class="navtext"><span></span> <span>Destinations</span></a>
						<div class="wsshoptabing wtsdepartmentmenu clearfix">
						  <div class="wsshopwp clearfix">
							<ul class="wstabitem clearfix">
								{% for india_part, states in grouped_links.items %}
									<li class="{% if forloop.counter == 1 %}wsshoplink-active{% endif %}">
										<a href="#">{{ india_part }}</a>
										<div class="wstitemright clearfix">
											<div class="container-fluid">
												<div class="row">
													{% for state, links in states.items %}
														<div class="col-lg-3 col-md-12 clearfix">
															<ul class="wstliststy02 clearfix">
																<li class="wstheading clearfix">{{ state }}</li>
																{% for link in links %}
																	<li>
																		<a href="/destination/{{ link.slug }}/">{{ link.destination_name }}</a>
																		{% if link.tags == "Most Viewed" %}
																			<span class="wstmenutag orangetag">{{ link.tags }}</span>
																		{% elif link.tags == "50% off" %}
																			<span class="wstmenutag bluetag">{{ link.tags }}</span>
																		{% elif link.tags == "New" %}
																			<span class="wstmenutag greentag">{{ link.tags }}</span>
																		{% elif link.tags == "Discounted" %}
																			<span class="wstmenutag redtag">{{ link.tags }}</span>
																		{% endif %}
																	</li>
																{% endfor %}
															</ul>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</li>
								{% endfor %}
							</ul>
						  </div>
						</div>
					  </li>
						<li aria-haspopup="true"><a href="/about/" class="navtext"><span>About</span></a></li>
						<li aria-haspopup="true"><a href="/" class="navtext"><span>Home</span></a></li>
					</ul>
				  </nav>
				</div>
			</div>
	</header>

	<!-- Sticky/Fixed Nav -->
	<div class="fixed_menu w-100">
		<header class="header header_style_one"></header>
	</div>

	<!-- Mobile Responsive Menu -->
	<!--<div class="mr_menu d-lg-none">

		<button type="button" class="mr_menu_close"><i class="fa fa-times"></i></button>
		<div class="logo"></div> &lt;!&ndash; Keep this div empty. Logo will come here by JavaScript &ndash;&gt;
		<div class="mr_navmenu"></div> &lt;!&ndash; Keep this div empty. Menu will come here by JavaScript &ndash;&gt;
	</div>-->
    <!-- End Main Header -->

	{% block start %}

	{% endblock %}

	<!-- Footer -->
	<footer class="main-footer">
		<div class="auto-container">
			<!-- Upper Box -->
			<!--<div class="upper-box">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="footer-logo">
						<a href="/">
							<img src="/media/images/logo.jpeg" width="40%" alt="Logo" title="Salt and Sea">
						</a>
					</div>
					<ul class="footer-nav">
						<li><a href="/about/">About</a></li>
						<li><a href="/destination/">Destination</a></li>
						<li><a href="/tour-package/">Tour Packages</a></li>
						<li><a href="/gallery/">Gallery</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
					&lt;!&ndash; Social Box &ndash;&gt;
					<div class="footer-social_box">
						<a href="https://facebook.com/" class="fab fa-facebook fa-fw"></a>
						<a href="https://twitter.com/" class="fab fa-twitter-square fa-fw"></a>
						<a href="https://instagram.com/" class="fab fa-instagram fa-fw"></a>
					</div>
				</div>
			</div>-->

			<div class="upper-box">
				<div class="row">
					<div class=" col-lg-4 col-md-4 col-sm-12">
						<div class="footer-logo">
							<a href="/">
								<img src="/media/images/logo.png" width="40%" alt="Logo" title="Salt and Sea">
							</a>
						</div>
						<p>Salt&Sea Adventures was born from the passion for the thrill of expedition and exploration ardently shared by lifelong friends and adventure enthusiasts, Sudhir, Yash and Tanvi.</p>
						<div class="footer-social_box">
							<a href="https://facebook.com/" class="fab fa-facebook fa-fw"></a>
							<a href="https://twitter.com/" class="fab fa-twitter-square fa-fw"></a>
							<a href="https://instagram.com/" class="fab fa-instagram fa-fw"></a>
						</div>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-12">
						<ul class="footer-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/about/">About</a></li>
							<li><a href="/gallery/">Gallery</a></li>
							<li><a href="/blog/">Blog</a></li>
							<li><a href="/contact/">Contact</a></li>
						</ul>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-12">
						<div class="gallery">
							<img src="/media/images/gallery/7.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/8.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/9.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/20.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/11.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/13.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/14.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/18.jpg" width="30%" alt="Logo" title="Salt and Sea">
							<img src="/media/images/gallery/19.jpg" width="30%" alt="Logo" title="Salt and Sea">
						</div>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="copyright">Copyright &copy; 2024 Salt and Sea. All Rights Reserved.</div>
					<ul class="footer-bottom_nav">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms & Conditions</a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>
<!-- End PageWrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top"><span class="fas fa-arrow-up fa-fw"></span></div>

<script src="/media/js/jquery.js"></script>
<script src="/media/js/popper.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>
<script src="/media/js/magnific-popup.min.js"></script>
<script src="/media/js/appear.js"></script>
<script src="/media/js/parallax.min.js"></script>
<script src="/media/js/tilt.jquery.min.js"></script>
<script src="/media/js/owl.js"></script>
<script src="/media/js/swiper.min.js"></script>
<script src="/media/js/wow.js"></script>

<script src="/media/js/odometer.js"></script>
<script src="/media/js/isotope.js"></script>
<script src="/media/js/jquery.marquee.min.js"></script>
<script src="/media/js/parallax-scroll.js"></script>
<script src="/media/js/nav-tool.js"></script>
<script src="/media/js/jquery-ui.js"></script>
<script src="/media/js/select2.min.js"></script>
<script src="/media/js/flatpickr.min.js"></script>
<script src="/media/js/price-range.js"></script>

<script src="/media/js/script.js"></script>
<script src="/media/js/mixitup.js"></script>

<!-- Include Below JS After Your jQuery.min File -->
<script src="/media/mega-menu/webslidemenu.js"></script>

<script>
    (function () {
        var options = {
            whatsapp: "+917905335046", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#4DC247", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp", // Order of buttons
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>

</body>
</html>