<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<link rel="shortcut icon" href="/media/images/favicon.png" type="image/x-icon">
		<link rel="icon" href="/media/images/favicon.png" type="image/x-icon">

		<!--<title>{{page}}</title>-->
		<title>{{ title|default:"Salt and Sea" }}</title>
		<meta name="keywords" content="{{ keywords|default:'Salt and Sea' }}">
		<meta name="description" content="{{ description|default:'Salt and Sea' }}">

		<!-- Stylesheet  -->
		<link href="/media/css/style.css" rel="stylesheet">
		<link href="/media/css/calling.css" rel="stylesheet">
		<link rel="stylesheet" media="all" type="text/css" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700;800&amp;family=Poppins:wght@400;500;600;700&amp;display=swap">

	    <!--Main Menu File-->
	    <link id="effect" rel="stylesheet" type="text/css" media="all" href="/media/mega-menu/dropdown-effects/fade-down.css" />
	    <link rel="stylesheet" type="text/css" media="all" href="/media/mega-menu/webslidemenu.css" />
	</head>

<body>

<div class="page-wrapper">

	  <!-- Mobile Header -->
	  <div class="wsmobileheader clearfix">
		<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
		<span class="smllogo"><img src="/media/images/logo.png" width="80%" alt="logo" /></span>
	  </div>
	  <!-- Mobile Header -->

	<div class="hotline-phone-ring-wrap">
		<div class="hotline-phone-ring">
			<div class="hotline-phone-ring-circle"></div>
				<div class="hotline-phone-ring-circle-fill"></div>
				<div class="hotline-phone-ring-img-circle">
					<a href="tel:917905335046" class="pps-btn-img">
					<img src="/media/images/icon.png" alt="Hotline" width="50">
					</a>
				</div>
			</div>
		</div>
	</div>

 	<!-- Main Header -->
	<header class="header header_style_one">
		<div class="headerfull">
				<div class="wsmain clearfix">
					<div class="logo">
						<a href="/"><img src="/media/images/logo.png" width="38%" alt="logo"></a>
						<!--<a href="/" class="logo_sticky"><img src="/media/images/logo.jpeg" width="40%" alt="logo"></a>-->
					</div>
				  <nav class="wsmenu clearfix">
					<ul class="wsmenu-list">
						<li aria-haspopup="true"><a href="/contact/" class="navtext"><span>Contact</span></a></li>
						<li aria-haspopup="true"><a href="/blog/" class="navtext"><span>Blog</span></a></li>
						<li aria-haspopup="true"><a href="/gallery/" class="navtext"><span>Gallery</span></a></li>
						<li aria-haspopup="true"><a href="#" class="navtext"><span></span> <span>Temple Darshan</span></a>
							<div class="wsmegamenu clearfix halfmenu">
							  <div class="container-fluid">
								<div class="row">
								  <div class="col-lg-12 col-md-12">
									<ul class="wstliststy06 clearfix">
										{% for temple in temple_packages %}
									  	<li><a href="{% url 'temple_darshan_detail' temple.slug %}">{{ temple.name }}</a></li>
										{% endfor %}
									</ul>
								  </div>
								</div>
							  </div>
							</div>
						</li>
						{% for category, india_parts in grouped_links.items %}
					  	<li aria-haspopup="true"><a href="#" class="navtext"><span></span> <span>{{ category }}</span></a>
							<div class="wsshoptabing wtsdepartmentmenu clearfix">
							  <div class="wsshopwp clearfix">
								<ul class="wstabitem clearfix">
									{% for india_part, states in india_parts.items %}
									<li class="{% if forloop.counter == 1 %}wsshoplink-active{% endif %}">
										<a href="#">{{ india_part }}</a>
										<div class="wstitemright clearfix">
											<div class="container-fluid">
												<div class="row">
													{% for state, links in states.items %}
													<div class="col-lg-3 col-md-12 clearfix">
														<ul class="wstliststy02 clearfix">
															<li class="wstheading clearfix">{{ state }}</li>
															{% for link in links %}
															<li>
																<a href="/destination/{{ link.slug }}/">{{ link.destination_name }}</a>
																{% if link.tags == "Most Viewed" %}
																	<span class="wstmenutag orangetag">{{ link.tags }}</span>
																{% elif link.tags == "50% off" %}
																	<span class="wstmenutag bluetag">{{ link.tags }}</span>
																{% elif link.tags == "New" %}
																	<span class="wstmenutag greentag">{{ link.tags }}</span>
																{% elif link.tags == "Discounted" %}
																	<span class="wstmenutag redtag">{{ link.tags }}</span>
																{% endif %}
															</li>
															{% endfor %}
														</ul>
													</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</li>
									{% endfor %}
								</ul>
							  </div>
							</div>
						</li>
                		{% endfor %}
						<li aria-haspopup="true"><a href="/about/" class="navtext"><span>About</span></a></li>
						<li aria-haspopup="true"><a href="/" class="navtext"><span>Home</span></a></li>
					</ul>
				  </nav>
				</div>
			</div>
	</header>

	<!-- Sticky/Fixed Nav -->
	<div class="fixed_menu w-100">
		<header class="header header_style_one"></header>
	</div>

	<!-- Mobile Responsive Menu -->
	<!--<div class="mr_menu d-lg-none">

		<button type="button" class="mr_menu_close"><i class="fa fa-times"></i></button>
		<div class="logo"></div> &lt;!&ndash; Keep this div empty. Logo will come here by JavaScript &ndash;&gt;
		<div class="mr_navmenu"></div> &lt;!&ndash; Keep this div empty. Menu will come here by JavaScript &ndash;&gt;
	</div>-->
    <!-- End Main Header -->

	<div class="social-widget">
		<a href="https://www.facebook.com/" target="_blank" class="social-icon facebook"><i class="fab fa-facebook fa-fw"></i></a>
		<a href="https://www.instagram.com/" target="_blank" class="social-icon instagram"><i class="fab fa-instagram fa-fw"></i></a>
		<a href="https://twitter.com/" target="_blank" class="social-icon twitter"><i class="fab fa-twitter-square fa-fw"></i></a>
		<a href="https://www.linkedin.com/" target="_blank" class="social-icon linkedin"><i class="fab fa-linkedin fa-fw"></i></a>
		<a href="https://www.youtube.com/" target="_blank" class="social-icon youtube"><i class="fab fa-youtube fa-fw"></i></a>
	</div>

	<div aria-live="polite" aria-atomic="true">
		<!-- Position it -->
		<div id="toast-container"></div>
	</div>

	{% block start %}

	{% endblock %}

	<!-- Footer -->
	<footer class="main-footer">
		<div class="auto-container">
			<div class="upper-box">
				<div class="row">
					<div class=" col-lg-4 col-md-4 col-sm-12">
						<div class="footer-logo">
							<a href="/">
								<img src="/media/images/logo.png" width="40%" alt="Logo" title="Salt and Sea">
							</a>
						</div>
						<p>Salt&Sea Adventures was born from the passion for the thrill of expedition and exploration ardently shared by lifelong friends and adventure enthusiasts, Sudhir, Yash and Tanvi.</p>
						<div class="footer-social_box">
							<a href="https://facebook.com/" class="fab fa-facebook fa-fw"></a>
							<a href="https://twitter.com/" class="fab fa-twitter-square fa-fw"></a>
							<a href="https://instagram.com/" class="fab fa-instagram fa-fw"></a>
						</div>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-12">
						<ul class="footer-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/about/">About</a></li>
							<li><a href="/national-destination/">National Destination</a></li>
							<li><a href="/international-destination/">International Destination</a></li>
							<li><a href="/national-tours/">National Tours</a></li>
							<li><a href="/international-tours/">International Tours</a></li>
							<li><a href="/temple-darshan/">Temple Darshan</a></li>
							<li><a href="/gallery/">Gallery</a></li>
							<li><a href="/blog/">Blog</a></li>
							<li><a href="/contact/">Contact</a></li>
						</ul>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-12">
						<div class="gallery">
							{% for image in gallery %}
							<img src="/media/{{image.image}}" style="width: 112px; height: 106px;" alt="Logo" title="Salt and Sea">
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="copyright">Copyright &copy; 2024 Salt and Sea. All Rights Reserved.</div>
					<ul class="footer-bottom_nav">
						<li><a href="/privacy-policy/">Privacy Policy</a></li>
						<li><a href="/terms-and-conditions/">Terms & Conditions</a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>
<!-- End PageWrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top"><span class="fas fa-arrow-up fa-fw"></span></div>

<script src="/media/js/jquery.js"></script>
<script src="/media/js/popper.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>
<script src="/media/js/magnific-popup.min.js"></script>
<script src="/media/js/appear.js"></script>
<script src="/media/js/parallax.min.js"></script>
<script src="/media/js/tilt.jquery.min.js"></script>
<script src="/media/js/owl.js"></script>
<script src="/media/js/swiper.min.js"></script>
<script src="/media/js/wow.js"></script>

<script src="/media/js/odometer.js"></script>
<script src="/media/js/isotope.js"></script>
<script src="/media/js/jquery.marquee.min.js"></script>
<script src="/media/js/parallax-scroll.js"></script>
<script src="/media/js/nav-tool.js"></script>
<script src="/media/js/jquery-ui.js"></script>
<script src="/media/js/select2.min.js"></script>
<script src="/media/js/flatpickr.min.js"></script>
<script src="/media/js/price-range.js"></script>

<script src="/media/js/script.js"></script>
<script src="/media/js/mixitup.js"></script>

<!-- Include Below JS After Your jQuery.min File -->
<script src="/media/mega-menu/webslidemenu.js"></script>

<script>
    (function () {
        var options = {
            whatsapp: "+917905335046", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#4DC247", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp", // Order of buttons
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<script>
	$(document).ready(function() {
		$('#myModal').modal('show');
	});
</script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		// Simulated data fetch (in a real scenario, you'd fetch this from a server)
		var bookingData = [
			{"name": "Archana Sharma", "destination": "Darjeeling", "time": "2 minutes ago"},
			{"name": "Palak Kaushik", "destination": "Hyderabad", "time": "5 minutes ago"},
			{"name": "Ajay Chaturvedi", "destination": "Delhi", "time": "10 minutes ago"},
			{"name": "Rohit Tyagi", "destination": "Madhya Pradesh", "time": "12 minutes ago"},
			{"name": "Revati Khandelwal", "destination": "Cochin", "time": "20 minutes ago"},
			{"name": "Mohit Sharma", "destination": "Goa", "time": "2 minutes ago"},
			{"name": "Sameeksha Kaushik", "destination": "Secundarabad", "time": "5 minutes ago"},
			{"name": "Ajay Dwivedi", "destination": "Gurgaon", "time": "10 minutes ago"},
			{"name": "Sanjay Yadav", "destination": "Andhra Pradesh", "time": "12 minutes ago"},
			{"name": "Anjali Singh", "destination": "Bengalore", "time": "20 minutes ago"}
		];

		// Get the container where the toasts will be displayed
		var toastContainer = document.getElementById('toast-container');

		// Function to show the booking notifications one by one as Bootstrap toasts
		function showNextBooking(index) {
			if (index < bookingData.length) {
				var toastId = 'toast-' + index;
				var toastHTML = `
					<div id="${toastId}" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
						<div class="toast-header">
							<strong class="mr-auto">Live Booking</strong>
							<small class="text-muted">${bookingData[index].time}</small>
							<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="toast-body">
							<strong>${bookingData[index].name}</strong> just booked a trip to <em>${bookingData[index].destination}</em>.
						</div>
					</div>`;

				// Append the toast to the container
				toastContainer.insertAdjacentHTML('beforeend', toastHTML);

				// Show the toast
				$(`#${toastId}`).toast('show');

				// Set the next booking to show after a delay
				setTimeout(function() {
					showNextBooking(index + 1);
				}, 40000); // Show the next booking after 40 seconds
			}
		}

		// Start showing the bookings from the first one
		showNextBooking(0);
	});
</script>
</body>
</html>