{% extends "base.html" %}

{% block start %}

<!-- Banner One -->
<section class="banner-one">
	<div class="banner-one_image-layer" style="background-image: url(/media/images/main-slider/1.jpg)"></div>
	<div class="auto-container">
		<!-- Content Column -->
		<div class="banner-one_content">
			<div class="banner-one_content-inner">
				<div class="banner-one_title">
					UNFORGETTABLE TRAVEL AWAITS THE
				</div>
				<h1 class="banner-one_heading">ADVENTURE</h1>
				<div class="banner-one_text">Experience the thrill of exploring the world's most fascinating destinations <br> with our expertly curated travel packages.</div>

				<!-- Clients Box -->
				<div class="clients-box">
					<!-- Sponsors Carousel -->
					<ul class="sponsors-carousel owl-carousel owl-theme">
                		{% for client in clients %}
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/{{client.image}}" alt="{{client.name}}"></a></figure></li>
						{% endfor %}
					</ul>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Banner One -->

<!-- About One -->
<section class="about-one">
	<div class="auto-container">
		<div class="row clearfix">
			<!-- Image Column -->
			<div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_image">
					<img src="/media/images/resource/about.jpg" alt="" />
				</div>
			</div>
			<!-- Content Column -->
			<div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_content">
					<div class="sec-title_three">
						<div class="sec-title_three-title">about</div>
						<h1 class="sec-title_three-heading">MEMORABLE travels</h1>
						<div class="sec-title_three-text">
							Salt&Sea Adventures was born from the passion for the thrill of expedition and exploration ardently shared by lifelong friends and adventure enthusiasts, Sudhir,Yash and Tanvi. Founded in 2019, a simple purpose laid our company’s foundation; to offer unforgettable tour experiences that connect people with the beauty and wonder of travel.
						</div>
					</div>
					<div class="row clearfix">

						<!-- Counter Column -->
						<div class="counter-one_block col-lg-6 col-md-6 col-sm-6">
							<div class="counter-one_block-inner wow flipInX" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="counter-one_counter"><span class="odometer" data-count="20"></span>+</div>
								<div class="counter-one_counter-text">years of experience</div>
							</div>
						</div>

						<!-- Counter Column -->
						<div class="counter-one_block col-lg-6 col-md-6 col-sm-6">
							<div class="counter-one_block-inner wow flipInX" data-wow-delay="150ms" data-wow-duration="1500ms">
								<div class="counter-one_counter"><span class="odometer" data-count="100"></span>+</div>
								<div class="counter-one_counter-text">destination countries</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About One -->

<!-- Feature One -->
<section class="feature-one" style="background-image: url(/media/images/background/19.jpg)">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-smile-1"></div>
					<h5 class="feature-block_one-title">Customer Delight</h5>
					<div class="feature-block_one-text">We deliver the best service and experience for our customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-mountain"></div>
					<h5 class="feature-block_one-title">Authentic Adventure</h5>
					<div class="feature-block_one-text">We deliver the real adventure experience for our dear customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-flags"></div>
					<h5 class="feature-block_one-title">Expert Guides</h5>
					<div class="feature-block_one-text">We deliver only expert tour guides for our dear customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-clock"></div>
					<h5 class="feature-block_one-title">Time Flexibility</h5>
					<div class="feature-block_one-text">We welcome time flexibility of traveling for our dear customer.</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Feature One -->

<!-- Gallery Three -->
<section class="gallery-three">
	<div class="auto-container">
		<div class="sec-title_three centered">
			<div class="sec-title_three-title">our</div>
			<h1 class="sec-title_three-heading">destinations</h1>
		</div>

		<!-- Gallery Tabs -->
		<div class="gallery-tab">

			<!--Tabs Content-->
			<div class="p-tabs-content">

				<!-- Portfolio Tab / Active Tab -->
				<div class="p-tab active-tab" id="p-tab-1">
					<div class="gallery-carousel owl-theme owl-carousel">

						<!-- Location Block One -->
                		{% for destination in destinations %}
						<div class="location-block_one style-two {% if forloop.counter|divisibleby:2 %}translate{% endif %}">
							<div class="location-block_one-inner">
								<div class="location-block_one-image">
									<a href="{% url 'get_destination' destination.slug %}"><img src="/media/{{destination.destination_images.first.image}}" width="270" height="377" alt="{{destination.destination_name}}" /></a>
								</div>
								<div class="location-block_one-content">
									<h5 class="location-block_one-heading"><a href="{% url 'get_destination' destination.slug %}">{{destination.destination_name}}</a></h5>
									<div class="location-block_one-location">{{destination.no_of_packages}} Packages</div>
								</div>
							</div>
						</div>
                		{% endfor %}

					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Gallery Three -->

<!-- Package One -->
<section class="package-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<div class="title-content">
					<h2 class="sec-title_heading">SPECIAL PACKAGES</h2>
					<div class="sec-title-text">Get special travel packages made tailored for your needs.</div>
				</div>
				<!--<a class="package-one_more" href="/tour-package/">See More Packages</a>-->
			</div>
		</div>
		<div class="row clearfix">

			<!-- Package Block One -->
			<div class="package-block_one col-lg-3 col-md-4 col-sm-12">
				<div class="package-block_one-inner">
					<div class="package-block_one-image">
						<img src="/media/images/resource/package-1.jpg" alt="" />
						<div class="package-block_one-number">01</div>
						<div class="package-block_one-content">
							<h4 class="package-block_one-title"><a href="/tour-package/">Cultural Immersion Package</a></h4>
						</div>
					</div>
				</div>
			</div>

			<!-- Package Block Two -->
			<div class="package-block_two col-lg-9 col-md-8 col-sm-12">
				<div class="package-block_two-inner">
					<div class="package-block_two-image">
						<img src="/media/images/resource/package-2.jpg" alt="" />
						<div class="package-block_two-number">02</div>
					</div>
					<div class="package-block_two-content">
						<div class="d-flex justify-content-between flex-wrap">
							<h1 class="package-block_two-title"><a href="/tour-package/">ESCAPE <br> TO PARADISE</a></h1>
							<div class="package-block_two-box">
								<div class="package-block_two-text">Bask in the warm tropical sun with our exclusive Tropical Escape Package. This 7-day trip takes you to the most stunning tropical islands.</div>
								<!-- Button Box -->
								<div class="button-box">
									<a class="btn-style-two theme-btn" href="/tour-package/">
										<div class="btn-wrap">
											<span class="text-one">Book Now</span>
											<span class="text-two">Book Now</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Package One -->

<!-- Video One -->
<section class="video-one">
	<div class="outer-container">
		<div class="video-one_logo"><a href="/"><img src="/media/images/logo.png" width="40%" alt="logo" title="Salt and Sea"></a></div>
		<div class="video-one_box wow bounce" data-wow-delay="0ms" data-wow-duration="1500ms">
			<img src="/media/images/background/1.jpg" alt="" />
			<a href="#" class="play lightbox-video"><span class="flaticon-play"><i class="ripple"></i></span></a>
		</div>
	</div>
</section>
<!-- End Video One -->

<!-- Gallery Two -->
<section class="gallery-two">
	<div class="auto-container">
		<!-- Sec Title Two -->
		<div class="sec-title_two">
			<div class="bid-title">gallery</div>
			<div class="title">OUR ADVENTURES</div>
		</div>

		<div class="masonry-items-container row clearfix">

			<!-- Gallery Block One -->
            {% for image in gallery %}
			<div class="gallery-block_one masonry-item col-lg-3 col-md-6 col-sm-12">
				<div class="gallery-block_one-inner">
					<div class="gallery-block_one-image">
						<img src="/media/{{image.image}}" alt="Gallery" />
						<div class="overlay-box">
							<a href="/media/{{image.image}}" class="lightbox-image plus flaticon-plus"></a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

	</div>
</section>
<!-- End Gallery Two -->

<!-- Testimonial One -->
<section class="testimonial-one">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Testimonial One Title Column -->
			<div class="testimonial-one_title-column col-lg-4 col-md-12 col-sm-12">
				<div class="testimonial-one_title-inner">
					<!-- Sec Title -->
					<div class="sec-title">
						<h2 class="sec-title_heading">TESTIMONIALS</h2>
						<div class="sec-title-text">What our clients love about us.</div>
					</div>
				</div>
			</div>

			<!-- Testimonial One Carousel Column -->
			<div class="testimonial-one_carousel-column col-lg-8 col-md-12 col-sm-12">
				<div class="testimonial-one_carousel-inner">
					<div class="testimonial-one_pattern" style="background-image: url(images/icons/pattern-1.png)"></div>
					<div class="testimonial-carousel owl-carousel owl-theme">

						<!-- Testimonial Block One -->

						{% for testimonial in testimonials %}
						<div class="testimonial-block_one">
							<div class="testimonial-block_one-inner">
								<div class="testimonial-block_one-text">{{testimonial.description}}</div>
								<div class="testimonial-block_one-author">
									<div class="testimonial-block_one-author_image">
										<img src="/media/{{testimonial.image}}" alt="{{testimonial.name}}" />
									</div>
									{{testimonial.name}}
									<span>{{testimonial.location}}</span>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Testimonial One -->

<!-- Achivements One -->
<section class="achivements-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2 class="sec-title_heading">ACHIEVEMENTS</h2>
			<div class="sec-title-text">We are recognized for exceptional travel services.</div>
		</div>
		<div class="achivement-carousel owl-carousel owl-theme">

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-award"></div>
					<h3 class="achivement-block_one-title">Travel + Leisure</h3>
					<div class="achivement-block_one-text">World's Best Tour Operator 2022 United States of America</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-trophy"></div>
					<h3 class="achivement-block_one-title">World Travel Award</h3>
					<div class="achivement-block_one-text">Best Travel Agency 2023 United Kingdom</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-badge"></div>
					<h3 class="achivement-block_one-title">TripAdvisor</h3>
					<div class="achivement-block_one-text">Certificate of Excellence 2021 Australia</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-award"></div>
					<h3 class="achivement-block_one-title">Travel + Leisure</h3>
					<div class="achivement-block_one-text">World's Best Tour Operator 2022 United States of America</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-trophy"></div>
					<h3 class="achivement-block_one-title">World Travel Award</h3>
					<div class="achivement-block_one-text">Best Travel Agency 2023 United Kingdom</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-badge"></div>
					<h3 class="achivement-block_one-title">TripAdvisor</h3>
					<div class="achivement-block_one-text">Certificate of Excellence 2021 Australia</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Achivements One -->

<!-- Faq One -->
<section class="faq-one" style="background-image: url(/media/images/background/20.jpg)">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2 class="sec-title_heading">FREQUENTLY ASKED QUESTIONS</h2>
			<div class="sec-title-text">What our clients usually asked about our services and tours.</div>
		</div>
		<div class="faq-one_inner-container">

			<!-- Accordion Box -->
			<ul class="accordion-box">

				<!-- Block -->
				{% for faq in faqs %}
				<li class="accordion block {% if forloop.counter == 1 %}active-block{% endif %}">
					<div class="acc-btn {% if forloop.counter == 1 %}active{% endif %}"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>{{faq.question}}</div>
					<div class="acc-content {% if forloop.counter == 1 %}current{% endif %}">
						<div class="content">
							<p>{{faq.answer}}</p>
						</div>
					</div>
				</li>
				{% endfor %}

			</ul>

		</div>
	</div>
</section>
<!-- End Faq One -->

<!-- News One -->
<section class="news-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<div class="title-content">
					<h2 class="sec-title_heading">TRAVEL BLOG</h2>
					<div class="sec-title-text">Insights, tips, and stories to inspire your travels.</div>
				</div>
				<a class="news-one_more" href="/blog/">See More Articles</a>
			</div>
		</div>
		<div class="row clearfix">

            {% for blog in blogs %}
            <div class="news-block_three col-lg-6 col-md-12 col-sm-12">
                <div class="news-block_three-inner">
                    <div class="news-block_three-image">
                        <a href="{% url 'get_blog' blog.slug %}"><img src="/media/{{blog.featured_image}}" alt="{{blog.title}}" /></a>
                        <div class="news-block_three-overlay">
                            <div class="news-block_three-title">{{blog.tags}}</div>
                            <h3 class="news-block_three-heading"><a href="{% url 'get_blog' blog.slug %}">{{blog.title}}</a></h3>
                            <div class="news-block_three-author_outer">
                                <div class="news-block_three-author">
                                    <div class="news-block_three-author_image">
                                        <img src="/media/{{blog.author.profile.image}}" alt="{{blog.title}}" />
                                    </div>
                                    {{blog.author.username}}
                                    <span>{{blog.created_at|date:"F j, Y"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{% endfor %}

		</div>
	</div>
</section>
<!-- End News One -->

{% endblock %}