{% extends "base.html" %}

{% block start %}

<!-- Banner One -->
<section class="banner-one">
	<div class="banner-one_image-layer" style="background-image: url(/media/images/main-slider/11.jpg)"></div>
	<div class="auto-container">
		<!-- Content Column -->
		<div class="banner-one_content">
			<div class="banner-one_content-inner">
				<div class="banner-one_title">
					UNFORGETTABLE TRAVEL AWAITS THE
				</div>
				<h1 class="banner-one_heading">ADVENTURE</h1>
				<div class="banner-one_text">Experience the thrill of exploring the world's most fascinating destinations <br> with our expertly curated travel packages.</div>
				<!-- Form Box -->
				<div class="banner-one_form-box">
					<!-- Travel Form -->
					<div class="travel-form">
						<form method="get" action="/tours/">
    						{% csrf_token %}
							<div class="row clearfix">

								<div class="col-lg-4 col-md-6 col-sm-6 form-group">
									<div class="form-group_inner">
										<label>Destination</label>
										<select name="destination" required>
											<option value="">Select</option>
											{% for destination in destinations %}
											<option value="{{ destination.id }}">{{destination.destination_name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-6 form-group">
									<div class="form-group_inner">
										<label>Date</label>
										<input type="date" name="calendar" placeholder="Select Date">
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-6 form-group">
									<div class="form-group_inner">
										<label>Price</label>
										<select name="price" required>
											<option value="">Select</option>
											<option value="0">Up to Rs. 40,000</option>
											<option value="1">Rs. 40,001 - Rs. 80,000</option>
											<option value="2">Rs. 80,001 - Rs. 1,25,000</option>
											<option value="3">Rs. 1,25,001 - Rs. 1,60,000</option>
											<option value="4">Rs. 1,60,000+</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Button Box -->
							<div class="button-box">
								<button type="submit" class="btn-style-two theme-btn">
									<span class="btn-wrap">
										<span class="text-one">Search</span>
										<span class="text-two">Search</span>
									</span>
								</button>
							</div>
						</form>
					</div>
					<!-- End Travel Form -->
				</div>

				<!-- Clients Box -->
				<div class="clients-box">
					<!-- Sponsors Carousel -->
					<ul class="sponsors-carousel owl-carousel owl-theme">
                		{% for client in clients %}
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/{{client.image}}" alt="{{client.name}}"></a></figure></li>
						{% endfor %}
					</ul>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Banner One -->

<!-- About One -->
<section class="about-one">
	<div class="auto-container">
		<div class="row clearfix">
			{% for ha in home_about %}
			<!-- Image Column -->
			<div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_image">
					<img src="/media/{{ha.image}}" alt="about" style="width: 745px; height: 546px;" />
				</div>
			</div>
			<!-- Content Column -->
			<div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_content">
					<div class="sec-title_three">
						<div class="sec-title_three-title">{{ha.short_heading}}</div>
						<h1 class="sec-title_three-heading">{{ha.large_heading}}</h1>
						<div class="sec-title_three-text">
							{{ha.description|linebreaks}}
						</div>
						<br>
						<a class="btn-style-two theme-btn" href="/about/">
							<span class="btn-wrap">
								<span class="text-one">About Us</span>
								<span class="text-two">About Us</span>
							</span>
						</a>
					</div>
					<div class="row clearfix">

						<!-- Counter Column -->
						<div class="counter-one_block col-lg-6 col-md-6 col-sm-6">
							<div class="counter-one_block-inner wow flipInX" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="counter-one_counter"><span class="odometer" data-count="{{ha.years}}"></span>+</div>
								<div class="counter-one_counter-text">years of experience</div>
							</div>
						</div>

						<!-- Counter Column -->
						<div class="counter-one_block col-lg-6 col-md-6 col-sm-6">
							<div class="counter-one_block-inner wow flipInX" data-wow-delay="150ms" data-wow-duration="1500ms">
								<div class="counter-one_counter"><span class="odometer" data-count="{{ha.countries}}"></span>+</div>
								<div class="counter-one_counter-text">destination countries</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End About One -->

<!-- Feature One -->
<section class="feature-one" style="background-image: url(/media/images/background/19.jpg)">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner">
					<div class="feature-block_one-icon flaticon-smile-1"></div>
					<h5 class="feature-block_one-title">Customer Delight</h5>
					<div class="feature-block_one-text">We deliver the best service and experience for our customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner">
					<div class="feature-block_one-icon flaticon-mountain"></div>
					<h5 class="feature-block_one-title">Authentic Adventure</h5>
					<div class="feature-block_one-text">We deliver the real adventure experience for our dear customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner">
					<div class="feature-block_one-icon flaticon-flags"></div>
					<h5 class="feature-block_one-title">Expert Guides</h5>
					<div class="feature-block_one-text">We deliver only expert tour guides for our dear customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner">
					<div class="feature-block_one-icon flaticon-clock"></div>
					<h5 class="feature-block_one-title">Time Flexibility</h5>
					<div class="feature-block_one-text">We welcome time flexibility of traveling for our dear customer.</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Feature One -->

<!-- Gallery Three -->
<section class="gallery-three">
	<div class="auto-container">
		<div class="sec-title_three centered">
			<div class="sec-title_three-title">our</div>
			<h1 class="sec-title_three-heading">destinations</h1>
		</div>

		<!-- Gallery Tabs -->
		<div class="gallery-tab">

			<!--Tabs Content-->
			<div class="p-tabs-content">

				<!-- Portfolio Tab / Active Tab -->
				<div class="p-tab active-tab" id="p-tab-1">
					<div class="gallery-carousel owl-theme owl-carousel">

						<!-- Location Block One -->
                		{% for destination in destinations %}
						<div class="location-block_one style-two {% if forloop.counter|divisibleby:2 %}translate{% endif %}">
							<div class="location-block_one-inner">
								<div class="location-block_one-image">
									<a href="{% url 'get_destination' destination.slug %}"><img src="/media/{{destination.destination_images.first.image}}" alt="{{destination.destination_name}}" style="width: 100%; height: 377px;" /></a>
								</div>
								<div class="location-block_one-content">
									<h5 class="location-block_one-heading"><a href="{% url 'get_destination' destination.slug %}">{{destination.destination_name}}</a></h5>
									<div class="location-block_one-location">{{ destination.package_count }} Packages</div>
								</div>
							</div>
						</div>
                		{% endfor %}

					</div>
				</div>
			</div>
			<a class="btn-style-two theme-btn" href="/destination/">
				<span class="btn-wrap">
					<span class="text-one">See More Destinations</span>
					<span class="text-two">See More Destinations</span>
				</span>
			</a>
		</div>
	</div>
</section>
<!-- End Gallery Three -->

<!-- Package One -->
<section class="package-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<div class="title-content">
					<h2 class="sec-title_heading">SPECIAL PACKAGES</h2>
					<div class="sec-title-text">Get special travel packages made tailored for your needs.</div>
				</div>
				<a class="package-one_more" href="/tours/">See More Packages</a>
			</div>
		</div>
		<div class="row clearfix">

			<!-- Package Block One -->
			{% for tour_package in tour_packages %}
			<div class="package-block_one col-lg-6 col-md-4 col-sm-12">
				<div class="package-block_one-inner">
					<div class="package-block_one-image">
						<img src="/media/{{tour_package.t_image}}" alt="{{tour_package.name}}" style="width: 100%; height: 500px;" />
						<div class="package-block_one-number">0{{ forloop.counter }}</div>
						<div class="package-block_one-content">
							<h4 class="package-block_one-title"><a href="{% url 'tour_package_detail' tour_package.slug %}">{{tour_package.name}}</a></h4>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>
<!-- End Package One -->

<!-- Video One -->
<section class="video-one">
	<div class="outer-container">
		<div class="video-one_logo"><a href="/"><img src="/media/images/logo.png" width="40%" alt="logo" title="Salt and Sea"></a></div>
		<div class="video-one_box wow bounce" data-wow-delay="0ms" data-wow-duration="1500ms">
			<img src="/media/images/main-slider/12.jpg" alt="video background" />
			<a href="#" class="play lightbox-video"><span class="flaticon-play"><i class="ripple"></i></span></a>
		</div>
	</div>
</section>
<!-- End Video One -->

<!-- Gallery Two -->
<section class="gallery-two">
	<div class="auto-container">
		<!-- Sec Title Two -->
		<div class="sec-title_two">
			<div class="bid-title">gallery</div>
			<div class="title">OUR ADVENTURES</div>
		</div>
		<div class="masonry-items-container row clearfix">
			<!-- Gallery Block One -->
            {% for image in home_gallery %}
			<div class="gallery-block_one masonry-item col-lg-3 col-md-6 col-sm-12">
				<div class="gallery-block_one-inner">
					<div class="gallery-block_one-image">
						<img src="/media/{{image.image}}" alt="Gallery" style="width: 100%; height: 300px;" />
						<div class="overlay-box">
							<a href="/media/{{image.image}}" class="lightbox-image plus flaticon-plus"></a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="btn-style-two theme-btn" href="/gallery/">
			<span class="btn-wrap">
				<span class="text-one">See More Gallery</span>
				<span class="text-two">See More Gallery</span>
			</span>
		</a>
	</div>
</section>
<!-- End Gallery Two -->

<!-- Testimonial One -->
<section class="testimonial-one">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Testimonial One Title Column -->
			<div class="testimonial-one_title-column col-lg-4 col-md-12 col-sm-12">
				<div class="testimonial-one_title-inner">
					<!-- Sec Title -->
					<div class="sec-title">
						<h2 class="sec-title_heading">TESTIMONIALS</h2>
						<div class="sec-title-text">What our clients love about us.</div>
					</div>
				</div>
			</div>

			<!-- Testimonial One Carousel Column -->
			<div class="testimonial-one_carousel-column col-lg-8 col-md-12 col-sm-12">
				<div class="testimonial-one_carousel-inner">
					<div class="testimonial-one_pattern" style="background-image: url(/media/images/icons/pattern-1.png)"></div>
					<div class="testimonial-carousel owl-carousel owl-theme">

						<!-- Testimonial Block One -->

						{% for testimonial in testimonials %}
						<div class="testimonial-block_one">
							<div class="testimonial-block_one-inner">
								<div class="testimonial-block_one-text">{{testimonial.description|linebreaks}}</div>
								<div class="testimonial-block_one-author">
									<div class="testimonial-block_one-author_image">
										<img src="/media/{{testimonial.image}}" alt="{{testimonial.name}}" />
									</div>
									{{testimonial.name}}
									<span>{{testimonial.location}}</span>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Testimonial One -->

<!-- Achivements One -->
<section class="achivements-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2 class="sec-title_heading">ACHIEVEMENTS</h2>
			<div class="sec-title-text">We are recognized for exceptional travel services.</div>
		</div>
		<div class="achivement-carousel owl-carousel owl-theme">

			<!-- Achivement Block One -->
			{% for achievement in achievements %}
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon {{achievement.icon}}"></div>
					<h3 class="achivement-block_one-title">{{achievement.title}}</h3>
					<div class="achivement-block_one-text">{{achievement.text}}</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>
<!-- End Achivements One -->

<!-- Faq One -->
<section class="faq-one" style="background-image: url(/media/images/background/21.jpg)">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2 class="sec-title_heading">FREQUENTLY ASKED QUESTIONS</h2>
			<div class="sec-title-text">What our clients usually asked about our services and tours.</div>
		</div>
		<div class="faq-one_inner-container">

			<!-- Accordion Box -->
			<ul class="accordion-box">

				<!-- Block -->
				{% for faq in faqs %}
				<li class="accordion block {% if forloop.counter == 1 %}active-block{% endif %}">
					<div class="acc-btn {% if forloop.counter == 1 %}active{% endif %}"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>{{faq.question}}</div>
					<div class="acc-content {% if forloop.counter == 1 %}current{% endif %}">
						<div class="content">
							<p>{{faq.answer|linebreaks}}</p>
						</div>
					</div>
				</li>
				{% endfor %}

			</ul>

		</div>
	</div>
</section>
<!-- End Faq One -->

<!-- News One -->
<section class="news-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<div class="title-content">
					<h2 class="sec-title_heading">TRAVEL BLOG</h2>
					<div class="sec-title-text">Insights, tips, and stories to inspire your travels.</div>
				</div>
				<a class="news-one_more" href="/blog/">See More Blogs</a>
			</div>
		</div>
		<div class="row clearfix">

            {% for blog in blogs %}
            <div class="news-block_three col-lg-6 col-md-12 col-sm-12">
                <div class="news-block_three-inner">
                    <div class="news-block_three-image">
                        <a href="{% url 'get_blog' blog.slug %}"><img src="/media/{{blog.featured_image}}" alt="{{blog.title}}" style="width: 100%; height: 450px;" /></a>
                        <div class="news-block_three-overlay">
                            <div class="news-block_three-title">{{blog.tags}}</div>
                            <h3 class="news-block_three-heading"><a href="{% url 'get_blog' blog.slug %}">{{blog.title}}</a></h3>
                            <div class="news-block_three-author_outer">
                                <div class="news-block_three-author">
                                    <div class="news-block_three-author_image">
                                        <img src="/media/{{blog.author.profile.image}}" alt="{{blog.title}}" />
                                    </div>
                                    {{blog.author.username}}
                                    <span>{{blog.created_at|date:"F j, Y"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{% endfor %}

		</div>
	</div>
</section>
<!-- End News One -->

{% endblock %}