{% extends "base.html" %}

{% block start %}

<!-- Page Banner -->
<section class="page-banner" style="background-image: url(/media/images/background/14.jpg)">
	<div class="auto-container">
		<ul class="page-breadbrumbs">
			<li><a href="/">Home</a></li>
			<li>privacy policy</li>
		</ul>
		<h1 class="page-banner_title">PRIVACY POLICY</h1>
	</div>
</section>
<!-- End Page Banner -->

<!-- About Two -->
<section class="about-two">
	<div class="auto-container">
		<div class="about-two_icon flaticon-black-airplane"></div>
		{% for private in privacy %}
		<div class="about-two_text">{{private.description}}</div>
		{% endfor %}
	</div>
</section>
<!-- End About Two -->

{% endblock %}