{% extends "base.html" %}

{% block start %}

<!-- Page Banner -->
<section class="page-banner" style="background-image: url(/media/images/background/14.jpg)">
	<div class="auto-container">
		<ul class="page-breadbrumbs">
			<li><a href="/">Home</a></li>
			<li>privacy policy</li>
		</ul>
		<h1 class="page-banner_title">PRIVACY POLICY</h1>
	</div>
</section>
<!-- End Page Banner -->

<!-- About Two -->
<section class="about-two">
	<div class="auto-container">
		<div class="about-two_icon flaticon-black-airplane"></div>
		<div class="about-two_text">Salt and Sea Adventures Pvt. Ltd. is the perfect travel agency for your every memorable trips. With our expert guides, we are both professional and personal. Our trips are consisted of unforgettable experiences and is delivered in a sustainable way to protect the environment.</div>
	</div>
</section>
<!-- End About Two -->

{% endblock %}