{% extends "base.html" %}

{% block start %}

<!-- Banner One -->
<section class="banner-one">
	<video autoplay="" loop="" muted="" poster="/media/images/main-slider/1.jpg">
        <source type="video/mp4" src="https://rsschoolportalassets.blr1.cdn.digitaloceanspaces.com/videos/main-banner-video.mp4">
    </video>
	<div class="auto-container">
		<!-- Content Column -->
		<div class="banner-one_content">
			<div class="banner-one_content-inner">
				<div class="banner-one_title">
					UNFORGETTABLE TRAVEL AWAITS THE
				</div>
				<h1 class="banner-one_heading">ADVENTURE</h1>
				<div class="banner-one_text">Experience the thrill of exploring the world's most fascinating destinations <br> with our expertly curated travel packages.</div>
			</div>
		</div>
	</div>
</section>
<!-- End Banner One -->

<div class="mixitup-gallery">

            <div class="filter-list row clearfix">

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <div class="overlay-box">
                                <img src="/media/destination/29_IxY4iwb.jpg" alt="{{destination.destination_name}}" style="width: 100%; height: 352px;" />
                            </div>
                        </div>
                    </div>
                    <h3 class="gallery-block_two-title"><a href="">Manali</a></h3>
                    <div class="align-items-center flex-wrap">
                        <div class="gallery-block_two-location">20 Packages</div>
                    </div>
                </div>

            </div>


        </div>

{% endblock %}