{% extends "base.html" %}

{% block start %}

<!-- Banner One -->
<section class="banner-one">
	<div class="banner-one_image-layer" style="background-image: url(/media/images/main-slider/1.jpg)"></div>
	<div class="auto-container">
		<!-- Content Column -->
		<div class="banner-one_content">
			<div class="banner-one_content-inner">
				<div class="banner-one_title">
					UNFORGETTABLE TRAVEL AWAITS THE
				</div>
				<h1 class="banner-one_heading">ADVENTURE</h1>
				<div class="banner-one_text">Welcome to Salt&Sea Adventures, where every journey is a bespoke adventure.</div>

				<!-- Clients Box -->
				<div class="clients-box">
					<!-- Sponsors Carousel -->
					<ul class="sponsors-carousel owl-carousel owl-theme">
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/3.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/4.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/5.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/media/images/clients/3.png" alt=""></a></figure></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Banner One -->

<!-- About One -->
<section class="about-one">
	<div class="auto-container">
		<div class="row clearfix">
			<!-- Image Column -->
			<div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_image">
					<img src="/media/images/resource/about.jpg" alt="" />
				</div>
			</div>
			<!-- Content Column -->
			<div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
				<div class="about-one_content">
					<div class="sec-title_three">
						<div class="sec-title_three-title">about</div>
						<h1 class="sec-title_three-heading">MEMORABLE travels</h1>
						<div class="sec-title_three-text">
							Salt&Sea Adventures was born from the passion for the thrill of expedition and exploration ardently shared by lifelong friends and adventure enthusiasts, Sudhir, Yash and Tanvi. Founded in 2019, a simple purpose laid our company’s foundation, to offer unforgettable tour experiences that connect people with the beauty and wonder of travel.
						</div>
					</div>
					<div class="row clearfix">

						<!-- Counter Column -->
						<div class="counter-one_block col-lg-6 col-md-6 col-sm-6">
							<div class="counter-one_block-inner wow flipInX" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="counter-one_counter"><span class="odometer" data-count="20"></span>+</div>
								<div class="counter-one_counter-text">years of experience</div>
							</div>
						</div>

						<!-- Counter Column -->
						<div class="counter-one_block col-lg-6 col-md-6 col-sm-6">
							<div class="counter-one_block-inner wow flipInX" data-wow-delay="150ms" data-wow-duration="1500ms">
								<div class="counter-one_counter"><span class="odometer" data-count="100"></span>+</div>
								<div class="counter-one_counter-text">destination countries</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About One -->

<!-- Feature One -->
<section class="feature-one" style="background-image: url(/media/images/background/19.jpg)">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-smile-1"></div>
					<h5 class="feature-block_one-title">Customer Delight</h5>
					<div class="feature-block_one-text">We deliver the best service and experience for our customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-mountain"></div>
					<h5 class="feature-block_one-title">Authentic Adventure</h5>
					<div class="feature-block_one-text">We deliver the real adventure experience for our dear customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-flags"></div>
					<h5 class="feature-block_one-title">Expert Guides</h5>
					<div class="feature-block_one-text">We deliver only expert tour guides for our dear customer.</div>
				</div>
			</div>

			<!-- Feature Block One -->
			<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
				<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
					<div class="feature-block_one-icon flaticon-clock"></div>
					<h5 class="feature-block_one-title">Time Flexibility</h5>
					<div class="feature-block_one-text">We welcome time flexibility of traveling for our dear customer.</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Feature One -->

	<!-- Gallery Three -->
	<section class="gallery-three">
		<div class="auto-container">
			<div class="sec-title_three centered">
				<div class="sec-title_three-title">our</div>
				<h1 class="sec-title_three-heading">destinations</h1>
			</div>

			<!-- Gallery Tabs -->
			<div class="gallery-tab">

				<!--Tabs Content-->
				<div class="p-tabs-content">

					<!-- Portfolio Tab / Active Tab -->
					<div class="p-tab active-tab" id="p-tab-1">
						<div class="gallery-carousel owl-theme owl-carousel">

							<!-- Location Block One -->
							<div class="location-block_one style-two">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-1.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Manali</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

							<!-- Location Block One -->
							<div class="location-block_one style-two translate">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-2.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Leh Ladakh</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

							<!-- Location Block One -->
							<div class="location-block_one style-two">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-3.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Coorg</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

							<!-- Location Block One -->
							<div class="location-block_one style-two translate">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-4.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Andaman</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

							<!-- Location Block One -->
							<div class="location-block_one style-two">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-1.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Lakshadweep</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

							<!-- Location Block One -->
							<div class="location-block_one style-two translate">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-2.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Goa</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

							<!-- Location Block One -->
							<div class="location-block_one style-two">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-3.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Srinagar</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

							<!-- Location Block One -->
							<div class="location-block_one style-two translate">
								<div class="location-block_one-inner">
									<div class="location-block_one-image">
										<a href="#"><img src="/media/images/resource/trip-4.jpg" alt="" /></a>
									</div>
									<div class="location-block_one-content">
										<h5 class="location-block_one-heading"><a href="#">Kerala</a></h5>
										<div class="location-block_one-location">20 Packages</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End Gallery Three -->

<!-- Package One -->
<section class="package-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<div class="title-content">
					<h2 class="sec-title_heading">SPECIAL PACKAGES</h2>
					<div class="sec-title-text">Get special travel packages made tailored for your needs.</div>
				</div>
				<a class="package-one_more" href="#">See More Packages</a>
			</div>
		</div>
		<div class="row clearfix">

			<!-- Package Block One -->
			<div class="package-block_one col-lg-3 col-md-4 col-sm-12">
				<div class="package-block_one-inner">
					<div class="package-block_one-image">
						<img src="/media/images/resource/package-1.jpg" alt="" />
						<div class="package-block_one-number">01</div>
						<div class="package-block_one-content">
							<h4 class="package-block_one-title"><a href="#">Cultural Immersion Package</a></h4>
						</div>
					</div>
				</div>
			</div>

			<!-- Package Block Two -->
			<div class="package-block_two col-lg-9 col-md-8 col-sm-12">
				<div class="package-block_two-inner">
					<div class="package-block_two-image">
						<img src="/media/images/resource/package-2.jpg" alt="" />
						<div class="package-block_two-number">02</div>
					</div>
					<div class="package-block_two-content">
						<div class="d-flex justify-content-between flex-wrap">
							<h1 class="package-block_two-title"><a href="#">ESCAPE <br> TO PARADISE</a></h1>
							<div class="package-block_two-box">
								<div class="package-block_two-text">Bask in the warm tropical sun with our exclusive Tropical Escape Package. This 7-day trip takes you to the most stunning tropical islands.</div>
								<!-- Button Box -->
								<div class="button-box">
									<a class="btn-style-two theme-btn" href="#">
										<div class="btn-wrap">
											<span class="text-one">Book Now</span>
											<span class="text-two">Book Now</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Package One -->

<!-- Video One -->
<section class="video-one">
	<div class="outer-container">
		<div class="video-one_logo"><a href="/"><img src="/media/images/logo.jpeg" width="40%" alt="logo" title="Salt and Sea"></a></div>
		<div class="video-one_box wow bounce" data-wow-delay="0ms" data-wow-duration="1500ms">
			<img src="/media/images/background/1.jpg" alt="" />
			<a href="#" class="play lightbox-video"><span class="flaticon-play"><i class="ripple"></i></span></a>
		</div>
	</div>
</section>
<!-- End Video One -->

<!-- Gallery Two -->
<section class="gallery-two">
	<div class="auto-container">
		<!-- Sec Title Two -->
		<div class="sec-title_two">
			<div class="bid-title">gallery</div>
			<div class="title">OUR ADVENTURES</div>
		</div>

		<div class="masonry-items-container row clearfix">

			<!-- Gallery Block One -->
			<div class="gallery-block_one masonry-item col-lg-3 col-md-6 col-sm-12">
				<div class="gallery-block_one-inner">
					<div class="gallery-block_one-image">
						<img src="/media/images/gallery/1.jpg" alt="" />
						<div class="overlay-box">
							<a href="/media/images/gallery/1.jpg" class="lightbox-image plus flaticon-plus"></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Gallery Block One -->
			<div class="gallery-block_one masonry-item col-lg-6 col-md-6 col-sm-12">
				<div class="gallery-block_one-inner">
					<div class="gallery-block_one-image">
						<img src="/media/images/gallery/2.jpg" alt="" />
						<div class="overlay-box">
							<a href="/media/images/gallery/2.jpg" class="lightbox-image plus flaticon-plus"></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Gallery Block One -->
			<div class="gallery-block_one masonry-item col-lg-3 col-md-6 col-sm-12">
				<div class="gallery-block_one-inner">
					<div class="gallery-block_one-image">
						<img src="/media/images/gallery/3.jpg" alt="" />
						<div class="overlay-box">
							<a href="/media/images/gallery/3.jpg" class="lightbox-image plus flaticon-plus"></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Gallery Block One -->
			<div class="gallery-block_one masonry-item col-lg-3 col-md-6 col-sm-12">
				<div class="gallery-block_one-inner">
					<div class="gallery-block_one-image">
						<img src="/media/images/gallery/5.jpg" alt="" />
						<div class="overlay-box">
							<a href="/media/images/gallery/5.jpg" class="lightbox-image plus flaticon-plus"></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Gallery Block One -->
			<div class="gallery-block_one masonry-item col-lg-3 col-md-6 col-sm-12">
				<div class="gallery-block_one-inner">
					<div class="gallery-block_one-image">
						<img src="/media/images/gallery/4.jpg" alt="" />
						<div class="overlay-box">
							<a href="/media/images/gallery/4.jpg" class="lightbox-image plus flaticon-plus"></a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End Gallery Two -->

<!-- Testimonial Two -->
<section class="testimonial-two" style="background-image: url(/media/images/background/map.png)">
	<div class="auto-container">

		<div class="swiper mySwiper2">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<!-- Testimonial Block Two -->
					<div class="testimonial-block_two">
						<div class="testimonial-block_two-inner">
							<div class="testimonial-block_two-quote flaticon-quote-2"></div>
							<div class="testimonial-block_two-text">
								As a solo female traveller, I felt completely safe and at ease with Salt&Sea
								Adventures. Firstly they have multiple tour packages and options on top of
								that I was free to customise them completely. Indeed an incredible experience
								start to end!!
							</div>
							<div class="testimonial-block_two-author">
								<div class="testimonial-block_two-author_image">
									<img src="/media/images/resource/author-3.png" alt="" />
								</div>
								Sarah Johnson
								<span>Client from United States of America</span>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<!-- Testimonial Block Two -->
					<div class="testimonial-block_two">
						<div class="testimonial-block_two-inner">
							<div class="testimonial-block_two-quote flaticon-quote-2"></div>
							<div class="testimonial-block_two-text">
								I came across Salt&Sea Adventures and found their travel packages very
								interesting and pocket friendly so I decided to take a trip to Spiti valley with
								them and guess what, I made the best choice as the whole trip was perfectly
								planned and included so many activities at such a reasonable price.
							</div>
							<div class="testimonial-block_two-author">
								<div class="testimonial-block_two-author_image">
									<img src="/media/images/resource/author-4.png" alt="" />
								</div>
								Sarah Johnson
								<span>Client from United States of America</span>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<!-- Testimonial Block Two -->
					<div class="testimonial-block_two">
						<div class="testimonial-block_two-inner">
							<div class="testimonial-block_two-quote flaticon-quote-2"></div>
							<div class="testimonial-block_two-text">
								I booked 4 nights 3 days trip to Dubai for my parents as an anniversary gift.
								The trip was very smooth and exactly as per plan. My parents were assisted
								at every step from pickup and drop from and at our residence. Also the team
								is so friendly they even clicked pictures and videos that they will cherish
								forever. Thank you for giving my parents a stressfree and memorable trip.
							</div>
							<div class="testimonial-block_two-author">
								<div class="testimonial-block_two-author_image">
									<img src="/media/images/resource/author-5.png" alt="" />
								</div>
								Sarah Johnson
								<span>Client from United States of America</span>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<!-- Testimonial Block Two -->
					<div class="testimonial-block_two">
						<div class="testimonial-block_two-inner">
							<div class="testimonial-block_two-quote flaticon-quote-2"></div>
							<div class="testimonial-block_two-text">
								I recently travelled to Goa with Salt&Sea Adventures and came back with lifelong
								memories not just because of the beauty of the city but because of how
								well plant my trip was… All my friends get amused when I tell them how many
								places I could visit and activities I did in just 5 days; all thanks to their superb
								itinerary and coolest staff!
							</div>
							<div class="testimonial-block_two-author">
								<div class="testimonial-block_two-author_image">
									<img src="/media/images/resource/author-6.png" alt="" />
								</div>
								Sarah Johnson
								<span>Client from United States of America</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper mySwiper swiper-paginations">
		  <div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="one">
					<img src="/media/images/resource/author-3.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="two">
					<img src="/media/images/resource/author-4.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="three">
					<img src="/media/images/resource/author-5.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="four">
					<img src="/media/images/resource/author-6.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="one">
					<img src="/media/images/resource/author-3.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="two">
					<img src="/media/images/resource/author-4.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="three">
					<img src="/media/images/resource/author-5.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="four">
					<img src="/media/images/resource/author-6.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="one">
					<img src="/media/images/resource/author-3.png" alt="" />
				</div>
			</div>
			<div class="swiper-slide">
				<div class="two">
					<img src="/media/images/resource/author-4.png" alt="" />
				</div>
			</div>
		  </div>
		</div>

	</div>
</section>
<!-- End Testimonial Two -->

<!-- Achivements One -->
<section class="achivements-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2 class="sec-title_heading">ACHIEVEMENTS</h2>
			<div class="sec-title-text">We are recognized for exceptional travel services.</div>
		</div>
		<div class="achivement-carousel owl-carousel owl-theme">

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-award"></div>
					<h3 class="achivement-block_one-title">Travel + Leisure</h3>
					<div class="achivement-block_one-text">World's Best Tour Operator 2022 United States of America</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-trophy"></div>
					<h3 class="achivement-block_one-title">World Travel Award</h3>
					<div class="achivement-block_one-text">Best Travel Agency 2023 United Kingdom</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-badge"></div>
					<h3 class="achivement-block_one-title">TripAdvisor</h3>
					<div class="achivement-block_one-text">Certificate of Excellence 2021 Australia</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-award"></div>
					<h3 class="achivement-block_one-title">Travel + Leisure</h3>
					<div class="achivement-block_one-text">World's Best Tour Operator 2022 United States of America</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-trophy"></div>
					<h3 class="achivement-block_one-title">World Travel Award</h3>
					<div class="achivement-block_one-text">Best Travel Agency 2023 United Kingdom</div>
				</div>
			</div>

			<!-- Achivement Block One -->
			<div class="achivement-block_one">
				<div class="achivement-block_one-inner">
					<div class="achivement-block_one-icon flaticon-badge"></div>
					<h3 class="achivement-block_one-title">TripAdvisor</h3>
					<div class="achivement-block_one-text">Certificate of Excellence 2021 Australia</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Achivements One -->

<!-- Faq One -->
<section class="faq-one" style="background-image: url(/media/images/background/20.jpg)">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2 class="sec-title_heading">FREQUENTLY ASKED QUESTIONS</h2>
			<div class="sec-title-text">What our clients usually asked about our services and tours.</div>
		</div>
		<div class="faq-one_inner-container">

			<!-- Accordion Box -->
			<ul class="accordion-box">

				<!-- Block -->
				<li class="accordion block active-block">
					<div class="acc-btn active"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>What type of travel packages does Salt and Sea offer?</div>
					<div class="acc-content current">
						<div class="content">
							<p>Salt and Sea offers a wide range of travel packages to destinations around the world, including customized tours, group tours, luxury travel, adventure travel, and more. Our travel specialists work with you to create an itinerary that meets your specific needs and preferences.</p>
						</div>
					</div>
				</li>

				<!-- Block -->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>How do I book a trip with Salt and Sea?</div>
					<div class="acc-content">
						<div class="content">
							<p>Salt and Sea offers a wide range of travel packages to destinations around the world, including customized tours, group tours, luxury travel, adventure travel, and more. Our travel specialists work with you to create an itinerary that meets your specific needs and preferences.</p>
						</div>
					</div>
				</li>

				<!-- Block -->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>What is the payment process for Salt and Sea?</div>
					<div class="acc-content">
						<div class="content">
							<p>Salt and Sea offers a wide range of travel packages to destinations around the world, including customized tours, group tours, luxury travel, adventure travel, and more. Our travel specialists work with you to create an itinerary that meets your specific needs and preferences.</p>
						</div>
					</div>
				</li>

				<!-- Block -->
				<li class="accordion block">
					<div class="acc-btn"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>How to cancel my booking in Salt and Sea?</div>
					<div class="acc-content">
						<div class="content">
							<p>Salt and Sea offers a wide range of travel packages to destinations around the world, including customized tours, group tours, luxury travel, adventure travel, and more. Our travel specialists work with you to create an itinerary that meets your specific needs and preferences.</p>
						</div>
					</div>
				</li>

			</ul>

		</div>
	</div>
</section>
<!-- End Faq One -->

<!-- News One -->
<section class="news-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<div class="title-content">
					<h2 class="sec-title_heading">TRAVEL BLOG</h2>
					<div class="sec-title-text">Insights, tips, and stories to inspire your travels.</div>
				</div>
				<a class="news-one_more" href="#">See More Articles</a>
			</div>
		</div>
		<div class="row clearfix">

			<div class="column col-lg-7 col-md-12 col-sm-12">
				<!-- News Block One -->
				<div class="news-block_one">
					<div class="news-block_one-inner">
						<div class="news-block_one-image">
							<a href="#"><img src="/media/images/resource/news-1.jpg" alt="" /></a>
						</div>
						<div class="news-block_one-content">
							<div class="news-block_one-title">travel</div>
							<h3 class="news-block_one-heading"><a href="#">10 Must-See Attractions in Santoric Greece</a></h3>
							<div class="news-block_one-author">
								<div class="news-block_one-author_image">
									<img src="/media/images/resource/author-2.jpg" alt="" />
								</div>
								Angus Smith
								<span>August 15, 2025</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column col-lg-5 col-md-12 col-sm-12">

				<!-- News Block One -->
				<div class="news-block_one">
					<div class="news-block_one-inner">
						<div class="news-block_one-image">
							<a href="#"><img src="/media/images/resource/news-2.jpg" alt="" /></a>
						</div>
						<div class="news-block_one-content">
							<div class="news-block_one-title">guide</div>
							<h3 class="news-block_one-heading"><a href="#">Our Beginner’s Guide to Start Hiking in The Swiss Alps</a></h3>
						</div>
					</div>
				</div>

				<!-- News Block One -->
				<div class="news-block_one">
					<div class="news-block_one-inner">
						<div class="news-block_one-image">
							<a href="#"><img src="/media/images/resource/news-3.jpg" alt="" /></a>
						</div>
						<div class="news-block_one-content">
							<div class="news-block_one-title">inspiration</div>
							<h3 class="news-block_one-heading"><a href="#">Solo Travel: The Best Thing You Can Do for Yourself</a></h3>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End News One -->

{% endblock %}