{% extends "base.html" %}

{% block start %}

<!-- Page Banner -->
<section class="page-banner" style="background-image: url(/media/images/background/7.jpg)">
    <div class="auto-container">
        <ul class="page-breadbrumbs">
            <li><a href="/">Home</a></li>
            <li>tours</li>
        </ul>
        <h1 class="page-banner_title">TOUR CATEGORY</h1>
    </div>
</section>
<!-- End Page Banner -->

<!-- Gallery Five -->
<section class="gallery-five">
    <div class="auto-container">
        <div class="page-header d-flex align-items-center justify-content-between flex-wrap flex-md-nowrap gap-2 gap-md-5">
            <!-- Gallery Five Title Box -->
            <div class="gallery-five_title-box">
                <h4>OUR TOUR CATEGORY</h4>
            </div>

            <!-- Gallery Search Box -->
            <div class="gallery-search_box">
                <!-- Search Box -->
                <div class="search-box">
                    <form>
                        <div class="form-group">
                            <input type="search" name="search" value="" placeholder="Search..." required>
                            <button type="submit"><span class="icon fa fa-search"></span></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- MixitUp Galery -->
        <div class="mixitup-gallery">

            <div class="filter-list row clearfix">

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/25.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="/tour-package/">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="/tour-package/">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="/tour-package/">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/26.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/27.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/28.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/29.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/30.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/31.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/32.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gallery Block Two -->
                <div class="gallery-block_two style-two col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block_two-inner">
                        <div class="gallery-block_two-image">
                            <img src="/media/images/gallery/33.jpg" alt="" />
                            <div class="overlay-box_two">
                                <div class="overlay-box_two-inner">
                                    <h4><a href="destination-details.html">Discover Japan Tour Package</a></h4>
                                    <div class="d-flex align-items-center flex-wrap justify-content-center">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                    <div class="gallery-block_two-text-two">With long ancient history, Greece has so many beautiful landscapes and historical places to offer.</div>
                                    <div class="gallery-block_two-button">
                                        <a class="theme-btn learn-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-content">
                                    <h3 class="gallery-block_two-title"><a href="destination-details.html">Classic Italy Tour Package</a></h3>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="gallery-block_two-location">20 Packages</div>
                                        <div class="gallery-block_two-price">2,000 - 2,500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Pagination Outer -->
            <div class="pagination-outer text-center">
                <ul class="paginations">
                    <li><a href="#"><span class="flaticon-left-arrow-2"></span></a></li>
                    <li class="active"><a href="#">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li>...</li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><span class="flaticon-next-2"></span></a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- End Gallery Five -->

{% endblock %}