{% extends "base.html" %}

{% block start %}

<!-- Banner One -->
<section class="banner-one" style="height: 650px;">
	<video autoplay="" loop="" muted="" poster="/media/images/main-slider/1.jpg">
        <source type="video/mp4" src="{{destine_place.video_file}}">
    </video>
	<div class="auto-container">
		<!-- Content Column -->
		<ul class="page-breadbrumbs">
            <li><a href="/">Home</a></li>
            <li>{{destine_place.destination_name}}</li>
        </ul>
        <h1 class="page-banner_title">{{destine_place.destination_name}}</h1>
	</div>
</section>
<!-- End Banner One -->

<!-- Gallery Seven -->
<section class="gallery-seven">
    <div class="outer-container">
        <div class="gallery-carousel-three owl-carousel owl-theme">

            <!-- Image -->
            {% for image in images %}
            <div class="image">
                <a class="lightbox-image" href="/media/{{image.image}}">
                    <img src="/media/{{image.image}}" alt="{{destine_place.destination_name}}" style="width: 100%; height: 294px;" />
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End Gallery Seven  -->

<!-- Gallery Five / Style Two -->
<section class="gallery-five style-two">
    <div class="auto-container">
        <div class="page-header d-flex align-items-center justify-content-between flex-wrap flex-md-nowrap gap-2 gap-md-5">
            <!-- Gallery Five Title Box -->
            <div class="gallery-five_title-box">
                <h4>OUR TOUR PACKAGES</h4>
            </div>

            <!-- Gallery Search Box -->
            <div class="gallery-search_box">
                <!-- Search Box -->
                <div class="search-box">
                    <form>
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><span class="icon fa fa-search"></span></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Filter -->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="sidebar-filter position-sticky">
                    <div class="widget">
                        <h6 class="widget-title">Tour Departure Date</h6>
                        <div class="filter-search">
                            <form>
                                <div class="form-group">
                                    <input type="date" name="date_search" placeholder="Search...">
                                    <button type="submit"></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Price Range</h6>
                        <div class="filter-price">
                            <form method="get">
                                <div class="form-check">
                                    <label>Up to Rs. 40,000</label>
                                    <input type="checkbox" class="form-check-input" name="price_range" value="1">
                                </div>
                                <div class="form-check">
                                    <label>Rs. 40,001 - Rs. 80,000</label>
                                    <input type="checkbox" class="form-check-input" name="price_range" value="2">
                                </div>
                                <div class="form-check">
                                    <label>Rs. 80,001 - Rs. 1,25,000</label>
                                    <input type="checkbox" class="form-check-input" name="price_range" value="3">
                                </div>
                                <div class="form-check">
                                    <label>Rs. 1,25,001 - Rs. 1,60,000</label>
                                    <input type="checkbox" class="form-check-input" name="price_range" value="4">
                                </div>
                                <div class="form-check">
                                    <label>Rs. 1,60,000+</label>
                                    <input type="checkbox" class="form-check-input" name="price_range" value="5">
                                </div>
                                <button type="submit" class="btn-style-two theme-btn">
                                    <span class="btn-wrap">
                                        <span class="text-one">Filter</span>
                                        <span class="text-two">Filter</span>
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- MixitUp Galery -->
                <div class="mixitup-gallery">

                    <div class="filter-list">

                        <!-- Gallery Block Two -->
                        <!--{% for tour_package in tour_packages %}
                        <div class="tour-block_one">
                            <div class="tour-block_one-inner d-flex align-items-center flex-wrap flex-xl-nowrap">
                                <div class="tour-block_one-image flex-xl-shrink-0">
                                    <a href="{% url 'tour_package_detail' tour_package.slug %}">
                                        <img src="/media/{{tour_package.t_image}}" alt="{{tour_package.name}}" style="width: 100%; height: 206px;" />
                                    </a>
                                </div>
                                <div class="tour-block_one-content">
                                    <div class="tour-block_one-location">{{destine_place.destination_name}}</div>
                                    <h4 class="tour-block_one-heading"><a href="{% url 'tour_package_detail' tour_package.slug %}">{{tour_package.name}}</a></h4>
                                    <div class="tour-block_one-text">{{tour_package.description|slice:":100"}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}-->

                        <!-- Location Block One -->
                        {% for tour_package in tour_packages %}
                        <div class="tour-package-one col-lg-4 col-md-6 col-sm-6">
                            <div class="tour-package-one-inner">
                                <div class="tour-package-one-top-content">
                                    <h5 class="tour-package-one-top-heading"><a href="{% url 'tour_package_detail' tour_package.slug %}">{{tour_package.name}}</a></h5>
                                    <div class="tour-package-one-top-location">{{destine_place.destination_name}}</div>
                                    <div class="duration">{{tour_package.duration}}</div>
                                </div>
                                <div class="row activity-area">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <a href="#">
                                            <img src="/media/images/airplane.png" alt="airplane" />
                                            <div class="activity">2 flights</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <a href="#">
                                            <img src="/media/images/residential.png" alt="hotel" />
                                            <div class="activity">4 hotels</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <a href="#">
                                            <img src="/media/images/sedan.png" alt="car" />
                                            <div class="activity">6 transfers</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <a href="#">
                                            <img src="/media/images/running.png" alt="activity" />
                                            <div class="activity">4 activities</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="tour-package-one-image">
                                    <a href="{% url 'tour_package_detail' tour_package.slug %}"><img src="/media/{{tour_package.t_image}}" alt="{{tour_package.name}}" /></a>
                                </div>
                                <div class="tour-package-one-content">
                                    <div class="tour-package-one-size">Starting Price</div>
                                    <h5 class="tour-package-one-heading">Rs. {{tour_package.price}}</h5>
                                    <div class="tour-package-one-size">Per Person</div>
                                    <a class="tour-package-one-arrow flaticon-next-2" href="{% url 'tour_package_detail' tour_package.slug %}"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <!-- Pagination Outer -->
                    <div class="pagination-outer text-center">
                        <ul class="paginations">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}"><span class="flaticon-left-arrow-2"></span></a></li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == 1 %}
                                    <li class="active"><a href="#"></a></li>
                                {% elif page_obj.number == num %}
                                    <li class="active"><a href="#">{{ num|default_if_none:"" }}</a></li>
                                {% elif num > page_obj.number|add:-5 and num < page_obj.number|add:5 %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num == 1 or num == page_obj.paginator.num_pages %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:5 and num < page_obj.paginator.num_pages %}
                                    <li>...</li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><span class="flaticon-next-2"></span></a></li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>
<!-- End Gallery Five -->

{% endblock %}
