{% extends "base.html" %}

{% block start %}

<!-- Page Banner -->
<section class="page-banner" style="background-image: url(/media/images/background/15.jpg)">
    <div class="auto-container">
        <ul class="page-breadbrumbs">
            <li><a href="/">Home</a></li>
            <li>{{destine_place.destination_name}}</li>
        </ul>
        <h1 class="page-banner_title">{{destine_place.destination_name}}</h1>
    </div>
</section>
<!-- End Page Banner -->

<!-- Gallery Seven -->
<section class="gallery-seven">
    <div class="outer-container">
        <div class="gallery-carousel-three owl-carousel owl-theme">

            <!-- Image -->
            {% for image in images %}
            <div class="image">
                <a class="lightbox-image" href="/media/{{image.image}}"><img src="/media/{{image.image}}" alt="{{destine_place.destination_name}}" /></a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End Gallery Seven  -->

<!-- Gallery Five / Style Two -->
<section class="gallery-five style-two">
    <div class="auto-container">
        <div class="page-header d-flex align-items-center justify-content-between flex-wrap flex-md-nowrap gap-2 gap-md-5">
            <!-- Gallery Five Title Box -->
            <div class="gallery-five_title-box">
                <h4>OUR TOUR PACKAGES</h4>
            </div>

            <!-- Gallery Search Box -->
            <div class="gallery-search_box">
                <!-- Search Box -->
                <div class="search-box">
                    <form method="post" action="">
                        <div class="form-group">
                            <input type="search" name="search-field" value="" placeholder="Search..." required>
                            <button type="submit"><span class="icon fa fa-search"></span></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Filter -->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="sidebar-filter position-sticky">
                    <div class="widget">
                        <h6 class="widget-title">Search Hotel</h6>
                        <div class="filter-search">
                            <form method="post">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search..." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Hotel Type</h6>
                        <div class="filter-hotel">
                            <select class="select-default w-100 border border-1 border-opacity-10">
                                <option></option>
                                <option value="1">Boutique Hotel</option>
                                <option value="2">Eco Hotel</option>
                                <option value="3">Capsule Hotel</option>
                                <option value="4">Bed & Breakfast Hotel</option>
                                <option value="5">Condo Hotel</option>
                            </select>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Price Range</h6>
                        <div class="filter-price">
                            <form action="#" method="post">
                                <div class="form-check">
                                    <label>Up to $500</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                </div>
                                <div class="form-check">
                                    <label>$501 - $1000</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox2" value="">
                                </div>
                                <div class="form-check">
                                    <label>$1001 - $1500</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox3" value="">
                                </div>
                                <div class="form-check">
                                    <label>$1501 - $2000</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox4" value="">
                                </div>
                                <div class="form-check">
                                    <label>$2000+</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox5" value="">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Custom Price Range</h6>
                        <div class="filter-price-range">
                            <div id="slider-range" class="price-filter-range"></div>

                            <div class="value_field d-flex align-items-center justify-content-between mt-2">
                              <input type="number" min=10 max="2090" id="min_price" class="text-start bg-transparent" disabled readonly>
                              <input type="number" min=15 max="2100" id="max_price" class="text-end bg-transparent" disabled readonly>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Style</h6>
                        <div class="filter-style">
                            <form action="#" method="post">
                                <div class="form-check">
                                    <label>Luxury</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                    <span class="content_count">12</span>
                                </div>
                                <div class="form-check">
                                    <label>Suite</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox2" checked value="">
                                    <span class="content_count">09</span>
                                </div>
                                <div class="form-check">
                                    <label>Mid-Range</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox3" value="">
                                    <span class="content_count">18</span>
                                </div>
                                <div class="form-check">
                                    <label>Business</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox4" value="">
                                    <span class="content_count">28</span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Category</h6>
                        <div class="filter-category">
                            <form action="#" method="post">
                                <div class="form-check">
                                    <label>Motel</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                    <span class="content_count">26</span>
                                </div>
                                <div class="form-check">
                                    <label>Resort</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox2" checked value="">
                                    <span class="content_count">18</span>
                                </div>
                                <div class="form-check">
                                    <label>Banglow</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox3" value="">
                                    <span class="content_count">15</span>
                                </div>
                                <div class="form-check">
                                    <label>Suite</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox4" value="">
                                    <span class="content_count">32</span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Amenities</h6>
                        <div class="filter-amenities">
                            <form action="#" method="post">
                                <div class="form-check">
                                    <label>Breakfast Included</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox1" value="">
                                    <span class="content_count">26</span>
                                </div>
                                <div class="form-check">
                                    <label>Swiming Pool</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox2" checked value="">
                                    <span class="content_count">18</span>
                                </div>
                                <div class="form-check">
                                    <label>Free Wifi</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox3" value="">
                                    <span class="content_count">15</span>
                                </div>
                                <div class="form-check">
                                    <label>Air Condition</label>
                                    <input type="checkbox" class="form-check-input" name="checkbox4" value="">
                                    <span class="content_count">32</span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Star Type</h6>
                        <div class="filter-rating">
                            <form action="#" method="post">
                                <div class="row m-0">
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox1" value="">
                                        <label class="btn">5 <i class="fa fa-star"></i></label>
                                    </div>
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox2" value="">
                                        <label class="btn">4 <i class="fa fa-star"></i></label>
                                    </div>
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox3" value="">
                                        <label class="btn">3 <i class="fa fa-star"></i></label>
                                    </div>
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox4" value="">
                                        <label class="btn">2 <i class="fa fa-star"></i></label>
                                    </div>
                                    <div class="form-check col-auto p-0 p-0">
                                        <input type="checkbox" class="btn-check" name="checkbox5" value="">
                                        <label class="btn">1 <i class="fa fa-star"></i></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Guest Rating</h6>
                        <div class="filter-rating">
                            <form action="#" method="post">
                                <div class="row m-0">
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox1" value="">
                                        <label class="btn">4.5+ <i class="fa fa-star"></i></label>
                                    </div>
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox2" value="">
                                        <label class="btn">4 <i class="fa fa-star"></i></label>
                                    </div>
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox3" value="">
                                        <label class="btn">3.5 <i class="fa fa-star"></i></label>
                                    </div>
                                    <div class="form-check col-auto p-0 pe-1">
                                        <input type="checkbox" class="btn-check" name="checkbox4" value="">
                                        <label class="btn">3 <i class="fa fa-star"></i></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- MixitUp Galery -->
                <div class="mixitup-gallery">

                    <div class="filter-list">

                        <!-- Gallery Block Two -->
                        {% for tour_package in tour_packages %}
                        <div class="tour-block_one">
                            <div class="tour-block_one-inner d-flex align-items-center flex-wrap flex-xl-nowrap">
                                <div class="tour-block_one-image flex-xl-shrink-0">
                                    <a href="{% url 'tour_package_detail' tour_package.slug %}"><img src="/media/{{tour_package.t_image}}" alt="{{tour_package.name}}" /></a>
                                </div>
                                <div class="tour-block_one-content">
                                    <div class="tour-block_one-location">{{tour_package.location}}</div>
                                    <h4 class="tour-block_one-heading"><a href="{% url 'tour_package_detail' tour_package.slug %}">{{tour_package.name}}</a></h4>
                                    <div class="tour-block_one-text">{{tour_package.description|slice:":100"}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <!-- Pagination Outer -->
                    <div class="pagination-outer text-center">
                        <ul class="paginations">
                            <li><a href="#"><span class="flaticon-left-arrow-2"></span></a></li>
                            <li class="active"><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li>...</li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><span class="flaticon-next-2"></span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>
<!-- End Gallery Five -->

{% endblock %}
